/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-xbox-robot {
   
}

#com-chilipeppr-widget-xbox-robot .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-chilipeppr-widget-xbox-robot-settings-container {
    padding: 20px 10px;
}

#com-chilipeppr-widget-xbox-robot-tab3 {
    padding:20px;
}

#com-chilipeppr-widget-xbox-robot .nodevice {
   padding:10px;
}